@import "../../../../../main";

.ProductsSearchContainer{
    float: right;
    margin-right: 100px;
    width: 200px;
    position: sticky;
    position: -webkit-sticky;
    /* top: 20px; */
    top: 85px;
}
.productsSearchTypeContainer{
    max-height: 400px;
    overflow-y: scroll;
}
.productsSearchTypeContainer::-webkit-scrollbar-thumb {
    background: $blue; 
}
.productsSearchTypeContainer::-webkit-scrollbar {
    width: 3px;
}
.SearchBar{
    margin-bottom: 20px;
    width: 100%;
}
.ProductsTypeTitle{
    font-size: 12px;
    color: white;
    background-color: #7EC402;
    display: grid;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    border-radius: 2px;
    transition: 250ms ;
    width: 100%;
}
.ProductsTypeTitle:hover{
    background-color: #723362;
}
.productsTypeIcon{
    right: 75px;
    float: right;
    width: 30px;
    height: 30px;
}
.productsTypeContainer{
    background-color: white ;
    color: black;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}
.productsTypeContainer:hover{
    background-color: $red ;
    color: white;
}
.productsTypeContainerActive{
    border-radius: 2px;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    background-color: $red ;
    color: white;
}
.productsTypeContainer p{
    margin: 0px;
}
