@import "../../../../../main";
.productTasteContainer{
    width: 100%;
}
.tasteItemContainer{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    color: $text-color-gray;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    margin: 0px auto;
}
.tasteItemDetailContainer{
    display: flex;
    align-items: center;
}