.forgetPhoneNumberContainer{
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0px;
}
.forgetPhoneNumgerTextField{
    margin-bottom: 20px !important;
}