@import "../../../../../main";

.ProductsDetailsContainer{
    background-color: #fff;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    border-top: solid rgba(0,0,0,.125) 1px;
}
.ProductSize{
    width: 25%;
    font-size: 24px;
    color: #8f8f8f;
    margin-right: 5px;  
}
.productPriceContainer{
    width: 50%;
    text-align: center;
    justify-content: space-around;
}
.deletedPrice{
    color: #8f8f8f ;
    font-size: $numbers-font-size ;
    float: none ;
    line-height: $numbers-font-size;
}
.price{
    font-size: $numbers-font-size ;
    line-height: $numbers-font-size;
    color: #f4006e ;
    margin: 0px;
}