@import "../../main";
.productNumberContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.productNumber{
    font-size: 20px;
    color: $red;
}