.appBarContainer{
    background-color: #fff;
    border-bottom: #a4d029 solid 3px;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    position: sticky;
    z-index: 100;
    display: flex;
    align-items: center;
    width: 100%;
}